/*fichier CSS pour le projet 02 - Reservia*/

/*par défaut, format mobile*/
body /*style de la page, police*/
    {
        font-family: 'Raleway', sans-serif;
        margin: 5%;
    }

header /*style de l'en-tête en format mobile*/
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-width: 325px;
        width: 100%;
        margin: auto;
    }   
#reservia /*taille du logo*/
    {  
        width: 100px;
        height: 4%;
        margin-left: 5px;
    } 
.inscrire /*position du lien s'inscrire*/
    {
        margin-right: 10px;
    }
.bleu /*style du lien s'inscrire*/
    {
        text-decoration: none;
        color: #0065FC;
        font-weight: 700;
    }  
.navigation /*position des liens de navigation*/
    {   
        display: flex;
        justify-self: flex-end;
        text-align: center;
        width: 100%;
        min-width: 325px; 
        padding-top: 20px;
        margin-bottom: 10px;
    }

.gris /*style des liens de navigation*/
    {
        text-decoration: none;
        padding-bottom: 10px;
        color: black;
        border-bottom: 3px #F2F2F2 solid; 
        width: 100%;
    }
.gris:hover /*changement de style des liens de navigation au passage*/
    {
        text-decoration: none;
        color: #0065FC;
        border-bottom: 3px #0065FC solid;
        width: 100%;
    }
#presentation
    {
        width: 100%;
        min-width: 325px;
    }
h1 /*style du titre*/
    {
        font-size: 23px;
        font-weight: 700; 
        width: 100%;
        min-width: 325px;
    }
h2 /*style des titres de section*/
    {
        font-size: 18px;
        font-weight: bolder; 
    }
h3 /*style du titre 'filtres'*/
    {
        font-size: 16px;
        font-weight: 700; 
        margin-top: 20px;
        margin-bottom: 10px;
    }
p  /*police de la description*/
    {
       display: flex; 
       align-items: baseline;
    }
fieldset /*champ de recherche de localité*/
    {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        border: 1px #DEEBFF solid;
        border-radius: 10px/10px;
        padding: 0px;
        width: fit-content;
        height: fit-content;
    }
.saisie /*retrait de la bordure du champs de saisie*/
    {   
        font-weight: bold;
        border-style: none;
        padding: 10px;
        width: 240px;
    }
.saisie:focus
    {
        outline: none;
    }
.saisie::placeholder
    {
        background-color: white;
        font-weight: bold;
        color: black;
    }
.fa-map-marker-alt /*couleur de fond de l'icone map*/
    {
        color: black;
        border: 1px solid #F2F2F2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 10px;
        background-color: #F2F2F2;
    }
.fa-search /*affiche le bouton icone recherche pour la version mobile*/
    {
        font-family: FontAwesome;
        color:  white;
        font-weight: bold;
        border: 1px solid  #0065FC;
        border-radius: 10px / 10px;
        padding: 10px;
        background-color:  #0065FC;
    }
.recherche /*supprime le bouton recherche pour la version mobile*/
    {
        display: none;      
    } 
#filtres /*style de la zone de filtres*/
    {  
        display: flex;
        flex-wrap: wrap;
        margin: 5px; 
        margin-bottom: 0px; 
    }
#filtrant /*style de la zone de filtres*/
    {  
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 5px; 
        margin-top: 0px; 
    }
.critere /* style des éléments à filtrer*/
    {   
        border: 1px #DEEBFF solid;
        border-radius: 20px/20px;
        width:fit-content;
        padding-right: 20px;
        margin: 5px;
    }
.critere:hover /* style des éléments à filtrer*/
    {   
        background-color: #0065FC;
        color: #DEEBFF;
    }
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog /*style des icones de filtres*/
    {
        color:  #0065FC;
        border: 1px solid #DEEBFF;
        border-radius: 20px / 20px;
        padding: 8px;
        margin-left: 0%;
        margin-right: 5px;
        background-color: #DEEBFF;
    }
.fa-info /*style de l'icone info*/
    {
        font-size: 10px;
        color:  #0065FC;
        border: 1px solid #DEEBFF;
        border-radius: 10px / 10px;
        padding: 8px; 
        margin: 10px;
    }

    /*couleur des étoiles*/
.fa-star.blue
    {
        color:  #0065FC; 
    }
.fa-star 
    {
        color:  #F2F2F2;
    }
.lien /*style des liens cliquables sur les cartes*/
    {
        color:black;
        text-decoration: none;
    }
#Héber
    {
        display: flex;
        flex-direction: column-reverse;
    }
#Populaires /*style de la partie les plus populaires*/
    {
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        min-width: 325px;
        height: fit-content;
        padding: 10px;
    }
.titreaside /*format du titre de la partie 'les plus populaires'*/
    {
        display: flex;
        width: 90%;
        min-width: 300px;
        align-items: baseline;
        justify-content: space-between;
        margin-left: 15px;
    }
#Populaires figure /*style image +figcaption*/
    {
        border: 1px solid #F2F2F2;
        border-radius: 20px / 10px;
        box-shadow: 5px  5px  5px rgb(190, 190, 190);
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 95%;
        max-width: 360px;
        height: fit-content;
        margin: 10px;
    }
#Populaires img /*format images dans la partie les plus populaires*/
    {
        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
        width: 40%;
        max-width: 200px;
        height: 140px;
        margin: 5px;
        object-fit: cover;
     }
#Populaires figcaption /*organisation du paragraphe de description des images*/
    {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        width: 45%;
        max-width: 200px;
        height: fit-content;
        margin: 5%;
        line-height: 21px;
    }
strong /*éléments en gras sur la desccription des images*/
    {  
        font-weight: bolder;
    }
.prix /*évite la séparation de € par rapport au reste*/
    {
        display: block;
    }
#Populaires .prix:after /*permet de sauter une première ligne avant les étoiles dans la partie les plus populaires*/
    {
        display: block;
        content: "\A0";
    }
#Populaires .stars:before /*permet de sauter une deuxième ligne avant les étoiles dans la partie les plus populaires*/
    {
        display: block;
        content:"\A0";
    }
#Hébergements /*style de la partie 'hébergements à Marseille'*/
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
        height: fit-content;
        margin: 10px;
        margin-top: 20px;
        
    }
#Hébergements figure /*style image +figcaption*/
    {
        border: 1px solid #F2F2F2;
        border-radius: 20px / 10px;
        box-shadow: 5px  5px  5px rgb(190, 190, 190);
        background-color: white;
        width: 90%;
        min-width: 325px;
        max-width: 380px;
        height: fit-content;
        margin: 5px;
        margin-bottom: 20px;
    }
#Hébergements img /*format images dans la partie hébergements*/
    {
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        width: 98%;
        height: 60%;
        max-height: 120px;
        margin: 5px;
        object-fit: cover;
    }
#Hébergements figcaption /*organisation du paragraphe de description des images*/
    {
        font-size: 15px;
        width: 100%;
        height: fit-content;
        margin: 5px;
        margin-left: 20px;
        line-height: 22px;
        padding-bottom: 5px;
    }
.plus
    {
        font-weight: bold;
        text-decoration: none;
        color: black;
        margin: 2%;
        margin-left: 10px;
    }
#Activités /*style de la partie 'activités à Marseille'*/
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
        min-width: 325px;
        height: fit-content;
        margin-top: 20px;
    }
#Activités figure /*style image +figcaption*/
    {
        border: 1px solid #F2F2F2;
        border-radius: 20px / 10px;
        box-shadow: 5px  5px  5px rgb(190, 190, 190);
        background-color: white;
        width: 90%;
        min-width: 325px;
        max-width: 380px;
        height: fit-content;
        margin: 10px;
        margin-bottom: 20px;
    }
#Activités img /*format images dans la partie hébergements*/
    {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 80%;
        max-height: 150px;
        object-fit: cover;
    }
#Activités figcaption /*particularité dans le descriptif des images des activités*/
    {   
        margin: 10px;
        margin-left: 20px;
        font-weight: 800;
        font-size: 15px;
        line-height: 25px;
        width: 100%;
        height: fit-content;
    }

footer /*style du pied de page*/
    {
        background-color: #F2F2F2;
        min-width: 320px;
        margin: 0px;
        padding: 10px;
    }
footer div
    {
        padding: 5px;
        padding-left: 5%;
    }
ul
    {
        font-size: 15px;
        line-height: 25px;
        list-style: none;
        padding-left: 0px;
    }

@media all and (min-width: 600px) and (max-width: 959px)/*particularité des écrans tablettes */
    {
    body 
        {
            margin: 2%;
        }
    header /*style de l'en-tête en format mobile*/
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            min-width: 580px;
            width: 100%;
            margin: auto;
        }   
    #reservia /*taille du logo*/
        {  
            width: 100px;
            height: 4%;
            margin-left: 5px;
        } 
    .inscrire /*position du lien s'inscrire*/
        {
            margin-right: 10px;
        } 
    .navigation /*position des liens de navigation*/
        {   
            display: flex;
            justify-self: flex-end;
            text-align: center;
            width: 100%;
            min-width: 580px; 
            padding-top: 20px;
            margin-bottom: 10px;
        }
    
    .gris /*style des liens de navigation*/
        {
            text-decoration: none;
            color: black;
            border-top: 3px #F2F2F2 solid; 
            border-bottom: none;
            width: 580px;
            padding-top: 20px;
            padding-right: 0px;
        }
    .gris:hover /*changement de style des liens de navigation au passage*/
        {
            text-decoration: none;
            color: #0065FC;
            border-top: 3px #0065FC solid;
            border-bottom: none;
            width: 40%;
        }
    h1
        {
            font-size: 22px;
        }
    .fas.fa-search /*supprime le bouton icone recherche pour la version écran*/
        {
            display: none; 
        }
    .recherche /*affiche le bouton recherche pour la version écran*/
        {
            display: inline;
            color:  white;
            font-family: 'Raleway';
            font-weight: bold;
            border: 1px solid  #0065FC;
            border-radius: 10px / 10px;
            padding: 10px;
            background-color:  #0065FC;     
        } 
    fieldset
        {
            margin: 0px;
        }
    #filtres /*style de la zone de filtres*/
        {  
            font-weight: bold;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: baseline;
            margin: 20px;
            margin-left: 0px;  
        }
    h3 
        {
            padding-right: 20px;
        }
    .fa-info /*style de l'icone info*/
        {
            margin: 0px;
            margin-right: 10px;
        }
    #Héber /*style commun aux 2 parties hébergements*/
        {
            display: flex;
            flex-flow: row nowrap;
            justify-content: stretch;
            align-items:baseline;
            max-height: 800px;
            width: 100%;
            min-width: 580px;
        }
    #Populaires /*style de la partie les plus populaires*/
        {
            background-color: #f2f2f2;
            border-radius: 10px/10px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 35%;
            min-width: 250px;
            height: 810px;
            margin-left: 0px;
            padding-bottom: 8px;
        }
    .titreaside /*format du titre de la partie 'les plus populaires'*/
        {
            display: flex;
            width: 95%;
            min-width: 240px;
            justify-content: space-between;
            margin-left: 10px;
        }
     #Populaires figure /*style image +figcaption*/
        {
            min-width: 200px;
            max-width: 200px;
            width: 100%;
            height: fit-content;
            margin: 20px;
        }
    #Populaires img /*format images dans la partie populaires*/
        {
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            height: 50%;
            max-height: 150px;
            width: 98%;
            max-width: 200px;
            margin: 2%;
            
        }
    #Populaires figcaption /*organisation du paragraphe de description des images*/
        {
            width: 100%;
            min-width: 180px;
            max-width: 200px;
            height: fit-content;
            margin:0px;
            margin-left: 5px;
            font-size: 12px;
            line-height: 18px;
        }
    #Populaires .prix:after /*permet de sauter une première ligne avant les étoiles dans la partie les plus populaires*/
        {
            display: block;
            content: "\A";
        }
    #Populaires .stars:before /*permet de sauter une deuxième ligne avant les étoiles dans la partie les plus populaires*/
        {
            display: block;
            content:"\A";
        }
    #Hébergements /*style de la partie 'hébergements à Marseille'*/
        {
            background-color: #f2f2f2;
            border-radius: 10px/10px;
            width: 50%;
            min-width: fit-content;
            height: 810px;
            padding: 10px;
            padding-right:20px; 
            margin: 0px;
            margin-right: 10px;   
        }
 
    .disposition /*structure la partie hébergements*/
        {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-bottom: 20px;
            margin: 0px;
        }
    #Hébergements figure /*style image +figcaption*/
        {
            border: 1px solid #F2F2F2;
            border-radius: 20px / 10px;
            box-shadow: 5px  5px  5px rgb(190, 190, 190);
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            width: 200px;
            height: fit-content;
            margin: 5px;
            margin-bottom: 20px;
        }
    #Hébergements img /*format images dans la partie les plus populaires*/
        {
            border-top-left-radius:10px;
            border-bottom-left-radius:10px;
            width: 40%;
            max-width: 120px;
            height: 80px;
            margin: 5px;
        }
    #Hébergements figcaption /*organisation du paragraphe de description des images*/
        {
            display: flex;
            flex-direction: column;
            width: 45%;
            max-width: 200px;
            height: fit-content;
            margin: 0px;
            margin-left: 5%;
            font-size: 13px;
            line-height: 18px;
        }
    .plus
        {
            text-align: left;
            font-weight: bold;
            text-decoration: none;
            color: black;
            margin: 0px;
            margin-left: 10px;
            margin-top: 50px;
        }
   #Activités /*style de la partie 'activités à Marseille'*/
         {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            min-width: 580px;
            height: 650px;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    
    .dispoacti
        {
            display: grid;
            grid-template-columns: 300px 300px; 
            grid-template-rows: 200px 200px 200px;
            gap: 30px ;
            margin-left: 20px;
            float:left;
        }
    #Activités figure /*style image +figcaption*/
        {
            border: 1px solid #F2F2F2;
            border-radius: 20px / 10px;
            box-shadow: 5px  5px  5px rgb(190, 190, 190);
            background-color: white;
            width: 100%;
            min-width: 210px;
            max-width: 300px;
            height: fit-content;
            max-height: 200px;
            margin: 0px;
        }
    #Activités img /*format images dans la partie activités*/
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            min-width: 200px;
            height: 150px;
            max-height: 150px;
        }
    #Activités figcaption /*particularité dans le descriptif des images des activités*/
        {   
            margin: 2%;
            margin-left: 5%;
            font-weight: bold;
            width: 100%;
            height: fit-content;
        }

    footer /*style du pied de page*/
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            background-color: #F2F2F2;
            min-width: 600px;
            margin-top: 20px;
        }
    footer div
        {
            padding: 2%;
            padding-right: 7%;
            padding-left: 5%;
        }
    ul
        {
            font-size: 13px;
            list-style: none;
        }
    }

@media all and (min-width: 960px)/*particularité des écrans ordi*/
    {  
    body 
        {
            margin: 2%;
        }
    header /*style de l'en-tête en format écran*/
        {
            display: flex;
            flex-wrap: nowrap;
            justify-content: stretch;
            align-items: center;
            min-width: 960px;
            width: 100%;
            margin: 0px;
            padding: 0px;
        } 
    .navigation
        {
            justify-self: flex-end;
            text-align: center;
            min-width: fit-content;
            width: 250px;
            padding-top: 0px;
        }    
    .inscrire
        {
            padding-left: 30px;
            margin-top: 10px;
            justify-self: flex-end;
        }
    #reservia 
        {
            padding-right: 42%;
            margin-left: 0px;
        }
    header > #reservia /*changement d'ordre des éléments de l'en-tête*/
        {
            order: 1;
        }     
    header > .inscrire
        {
            order: 3;
        }   
    header > .navigation 
        {
            order: 2;
        }
    .gris /*style des liens de navigation*/
        {
            text-decoration: none;
            color: black;
            border-top: 3px #F2F2F2 solid; 
            border-bottom: none;
            width: 150px;
            padding-top: 20px;
            padding-right: 0px;
        }
    .gris:hover /*changement de style des liens de navigation au passage*/
        {
            text-decoration: none;
            color: #0065FC;
            border-top: 3px #0065FC solid;
            border-bottom: none;
            width: 40%;
        }
    .fas.fa-search /*supprime le bouton icone recherche pour la version écran*/
        {
            display: none; 
        }
    .recherche /*affiche le bouton recherche pour la version écran*/
        {
            display: inline;
            color:  white;
            font-family: 'Raleway';
            font-weight: bold;
            border: 1px solid  #0065FC;
            border-radius: 10px / 10px;
            padding: 10px;
            background-color:  #0065FC;     
        } 
    fieldset
        {
            margin: 0px;
        }
    #filtres /*style de la zone de filtres*/
        {  
            font-weight: bold;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: baseline;
            margin: 20px;
            margin-left: 0px;  
        }
    h3 
        {
            padding-right: 20px;
        }
    .fa-info /*style de l'icone info*/
        {
            margin: 0px;
            margin-right: 10px;
        }
    #Héber /*style commun aux 2 parties hébergements*/
        {
            display: flex;
            flex-flow: row nowrap;
            justify-content: stretch;
            align-items:baseline;
            max-height: 600px;
            width: 100%;
            min-width: 930px;
        }
    #Populaires /*style de la partie les plus populaires*/
        {
            background-color: #f2f2f2;
            border-radius: 10px/10px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 30%;
            min-width: fit-content;
            height:fit-content;
            margin-left: 0px;
            padding-bottom: 8px;
        }
    .titreaside /*format du titre de la partie 'les plus populaires'*/
        {
            display: flex;
            width: 95%;
            min-width: 260px;
            justify-content: space-between;
            margin-left: 10px;
        }
    #Populaires figure /*style image +figcaption*/
        {
            border: 1px solid #F2F2F2;
            border-radius: 20px / 10px;
            box-shadow: 5px  5px  5px rgb(190, 190, 190);
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            width: 275px;
            height: fit-content;
            margin: 5px;
            margin-bottom: 20px;
        }
    #Populaires img /*format images dans la partie les plus populaires*/
        {
            border-top-left-radius:10px;
            border-bottom-left-radius:10px;
            width: 40%;
            max-width: 120px;
            height: 120px;
            margin: 5px;
        }
    #Populaires figcaption /*organisation du paragraphe de description des images*/
        {
            display: flex;
            flex-direction: column;
            width: 45%;
            max-width: 200px;
            height: fit-content;
            margin: 0px;
            margin-left: 5%;
            font-size: 13px;
            line-height: 18px;
        }
   
    #Hébergements /*style de la partie 'hébergements à Marseille'*/
        {
            background-color: #f2f2f2;
            border-radius: 10px/10px;
            width: 60%;
            min-width: fit-content;
            height: 520px;
            padding: 10px;
            padding-right:20px; 
            margin: 0px;
            margin-right: 10px;   
        }
    .cannebière
        {grid-area: un;}
    .hport
        {grid-area: deux;}
    .mouettes
        {grid-area: trois;}
    .mer
        {grid-area: quatre;}
    .panier
        {grid-area: cinq;}
    .amina
        {grid-area: six;}
    .disposition /*structure la partie hébergements*/
        {
            display: grid;
            grid-template-areas:
                'un deux trois'
                'quatre cinq six';
            grid-gap: 15px;
            padding-bottom: 50px;
            margin: 0px;
        }
    #Hébergements figure /*style image +figcaption*/
        {
            min-width: fit-content;
            max-width: 200px;
            width: 100%;
            height: fit-content;
            margin: 0px;
        }
    #Hébergements img /*format images dans la partie hébergements*/
        {
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            height: 50%;
            max-height: 80px;
            width: 98%;
            max-width: 180px;
            margin: 2%;
        }
    #Hébergements figcaption /*organisation du paragraphe de description des images*/
        {
            width: 100%;
            min-width: 180px;
            max-width: 200px;
            height: fit-content;
            margin-left: 5%;
            font-size: 13px;
            line-height: 20px;
        }
    .plus
        {
            text-align: left;
            font-weight: bold;
            text-decoration: none;
            color: black;
            margin: 0px;
            margin-left: 10px;
            margin-top: 50px;
        }
   #Activités /*style de la partie 'activités à Marseille'*/
         {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            min-width: 960px;
            height: 500px;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    
    .dispoacti
        {
            display: grid;
            grid-template-areas: "portArea fortArea calArea ndArea"
                             "portArea frioulArea calArea lcArea";
            grid-template-columns: 225px 225px 225px 225px; 
            grid-template-rows: 200px 200px;
            gap: 10px ;
        }
    .port 
        { 
            grid-area: portArea;
        }
    .fort
        {  
            grid-area: fortArea;
        }
    .frioul
        {  
            grid-area: frioulArea;
            margin-top: 20px;
        }
    .calanques
        {  
           grid-area: calArea;
        }  
    .nd 
        {  
            grid-area: ndArea;
        }
    .longchamp
        {  
            grid-area: lcArea;
        }
    #Activités figure /*style image +figcaption*/
        {
            border: 1px solid #F2F2F2;
            border-radius: 20px / 10px;
            box-shadow: 5px  5px  5px rgb(190, 190, 190);
            background-color: white;
            width: 100%;
            min-width: 210px;
            max-width: 220px;
            height: fit-content;
            margin: 0px;
        }
    #Activités img.tpetiteimg /*format images dans la partie activités*/
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            min-width: 210px;
            height: 120px;
            max-height: 120px;
        }
    #Activités img.petiteimg /*format images dans la partie activités*/
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            min-width: 210px;
            height: 140px;
            max-height: 140px;
        }
    #Activités img.moyimg /*format images dans la partie activités*/
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            min-width: 210px;
            height: 160px;
            max-height: 160px;
        }
    #Activités img.grandeimg
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            min-width: 210px;
            height: 350px;
            max-height: 350px;
        }
    #Activités figcaption /*particularité dans le descriptif des images des activités*/
        {   
            margin: 2%;
            margin-left: 5%;
            font-weight: bold;
            width: 100%;
            height: fit-content;
        }

    footer /*style du pied de page*/
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            background-color: #F2F2F2;
            min-width: 400px;
        }
    footer div
        {
            padding: 2%;
            padding-right: 7%;
            padding-left: 5%;
        }
    ul
        {
            font-size: 15px;
            list-style: none;
        }
    }