/*fichier CSS pour le projet 02 - Reservia, format mobile*/

header /*style de l'en-tête*/
	{
		font-family: 'Raleway', sans-serif;
        display: flex;
		justify-content: space-between;
        align-items: center;
        min-width: 200px;
        margin: 3%;

	}
#reservia /*taille du logo*/
    {
        width: 7%;
        min-width: 120px;
        height: 4%;
    }
.bleu /*style du lien s'inscrire*/
    {
        text-decoration: none;
        color: #0065FC;
        font-weight: bold;
    }
.navigation /*position des liens de navigation*/
    {
        display: flex;
		justify-content: center;
        align-items: center;
        
    }
.gris /*style des liens de navigation*/
    {
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        color: black;
        border-bottom: 3px #F2F2F2 solid; 
        text-align: center;
        width: 100%;
        min-width: 200px; 
    }
.gris:hover /*changement de style des liens de navigation au passage*/
    {
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        color: #0065FC;
        border-bottom: 3px #0065FC solid;
        text-align: center;
        width: 100%;
        min-width: 200px; 
    }
h1 /*style du titre*/
    {
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        font-weight: bold; 
    }
p  /*police de la description*/
    {
        font-family: 'Raleway', sans-serif;
    }
fieldset /*champ de recherche de localité*/
    {
        border: 1px #DEEBFF solid;
        border-radius: 15px/20px;
        width: fit-content;
        height: fit-content;
    }

.saisie /*retrait de la bordure du champs de saisie*/
    {   
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        border: none;

    }

.fa-map-marker-alt /*couleur de fond de l'icone map*/
    {
        color: black;
		border: 1px solid #F2F2F2;
		border-radius: 5px / 20px;
        padding: 10px;
		background-color: #F2F2F2;
    }
.fa-search
    {
        color:  #0065FC;
		border: 1px solid #DEEBFF;
		border-radius: 5px / 20px;
        padding: 10px;
		background-color: #DEEBFF;
    }
    
h2
    {
        font: 1em "Raleway";
        font-weight: bold;
    }
#filtres /*style de la zone de filtres*/
    {
        font: 1em "Raleway";
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }
.critere /* style des éléments à filtrer*/
    {   
        border: 1px #DEEBFF solid;
        border-radius: 20px/20px;
        width:fit-content;
        padding: 5px;
        margin: 5px;
    }
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog /*style des icones de filtres*/
	{
		color:  #0065FC;
		border: 1px solid #DEEBFF;
		border-radius: 20px / 20px;
        padding: 6px;
		background-color: #DEEBFF;
	}
.fa-info /*style de l'icone info*/
    {
        color:  #0065FC;
		border: 1px solid #DEEBFF;
		border-radius: 20px / 20px;
        width: 5px;
        height: 8px;
        padding: 10px; 
    }

    /*couleur des étoiles*/
.fa-star.blue
	{
		color:  #0065FC; 
	}
.fa-star
	{
		color:  #F2F2F2;
	}
#Populaires
    {
        font: 1em 'Raleway';
		background-color: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
		width: 100%;
        height: fit-content;
		padding: 0.5em;
    }
#Populaires img 
    {
        border: 1px solid #F2F2F2;
        border-radius: 20px / 10px;
        width: 50%;
        height: fit-content;

        
    }
/*#Populaires fieldset
    {
        font: 1em 'Raleway';
		border: 1px solid red;
		border-radius: 20px / 10px;
		box-shadow: 6px  6px  6px red;
		background-color: white;
		width: 80%;
        height: 5em;
		padding: 0.5em;
    }*/

figure
	{
        border: 1px solid #F2F2F2;
		border-radius: 20px / 10px;
		box-shadow: 6px  6px  6px #F2F2F2;
		background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
		width: 100%;
        height: fit-content;
		padding: 0.5em;

	}
	
/*img
	{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 50%;
	}